{% extends "base.html" %} {% load i18n%} {% block title %} {{ quiz.title }} {% endblock %} {% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %} {% block content %}
<section class="pt-page pt-page-6" data-id="">
    {% if previous.answers %}
    <p class="muted"><small>{% trans "Өмнөх асуулт" %}:</small></p>
    <p>{{ previous.previous_question }}</p>
    {% if previous.previous_outcome %}
    <div class="alert alert-success">
        {% else %}
        <div class="alert alert-warning">
            {% endif %}
            <p><small>
		{% trans "Таны хариулт" %} </small>
                <strong>
		  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
		</strong>
            </p>

        </div>

        {% include 'test_page/correct_answer.html' %}

        <p><strong>{% trans "Тайлбар" %}:</strong></p>
        <div class="well " style="background-color: #fcf8e3;">
            <p>{{ previous.previous_question.explanation }}</p>
        </div>

        <hr> {% endif %}

        <br /> {% if question %} {% if progress %}
        <div style="float: right;">
            {% trans "Нийт" %} {{ progress.1 }} {% trans "-аас" %} {{ progress.0|add:1 }}
        </div>
        {% endif %}

        <div class="section-title-block">
            <h2 class="section-title">{% trans "Даалгаврын ай" %}:</h2>
            <h5 class="section-description">{{ question.category }}</h5>
        </div>

        <p class="lead">{{ question.content|safe }}</p>

        {% if question.figure %}
        <img src="{{ question.figure.url }}" alt="{{ question.content }}" /> {% endif %}

        <form action="" method="POST">{% csrf_token %}
            <input type=hidden name="question_id" value="{{ question.id }}">

            <ul class="list-group">

                {% for answer in form.answers %}
                <li class="list-group-item">
                    {{ answer }}
                </li>
                {% endfor %}

            </ul>
            {% if progress.0|add:1 == progress.1 %}
            <input type="submit" value="Дараагийн даалгавар" class="btn btn-large btn-block btn-warning"> {% else %}
            <input type="submit" value="Дараагийн даалгавар" class="btn btn-large btn-block btn-warning"> {% endif %}
        </form>

        {% endif %}

        <hr>
</section>{% endblock %}