{% extends "base.html" %}{% load static %}{% load i18n %} {% block title %}{% trans "Нэвтрэх" %}{% endblock %}{% block content %}
<section class="pt-page pt-page-6" data-id="">
    <div class="section-title-block">
        <h2 class="section-title">500 алдаа</h2>
        <h5 class="section-description"></h5>
    </div>
   
    Уучлаарай, Та дахин <a href="https://www.bod.mn">www.bod.mn</a> рүү хандана уу.
    Уг алдаа магадгүй та одоогийн байдлаар нэг шалгалт гүйцэт ажиллаагүйгээс үүссэн байх магадлалтай тул та заавал нэг шалгалтыг бүрэн гүйцэт хийнэ үү.    
</section>
{% endblock %}
