{% extends 'base.html' %} {% load i18n %} {% block title %}{% trans "Бүх хэрэглэгчид" %}{% endblock %} {% block content %}
<section class="pt-page pt-page-6" data-id="">
    <div class="section-title-block">
        <h2 class="section-title">{% trans "Одоогоор систем байгаа сурагчдын шалгалтын явцын мэдээлэл" %}</h2>
        <h5 class="section-description">{% trans "Энэ хэсгийг зөвхөн админ эрхтэй хүн харна. Танд амжилт хүсье" %}</h5>
    </div>
    {% if sitting_list %}

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
		<th>Д\д</th>
                <th>{% trans "Хэрэглэгч" %}</th>
                <th>{% trans "Шалгалт" %}</th>
                <th>{% trans "Дууссан эсэх" %}</th>
                <th>{% trans "Зарцуулсан хугацаа" %}</th>
                <th>{% trans "Оноо" %}(%)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <!--<tr>
                <form action="" method="GET">
                    <td><input type="text" name="user_filter" /></td>
                    <td><input type="text" name="quiz_filter" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="submit" class="btn btn-default">{% trans "Хайх"%}</button></td>
                </form>
            </tr>
-->

            {% for sitting in sitting_list %}

            <tr>
		<td>{{ forloop.counter }}. </td>
                <td>{{ sitting.user }}</td>
                <td>{{ sitting.quiz }}</td>
                <td>{{ sitting.end|date }}</td>
                <td>{{ sitting.end|timeuntil:sitting.start }}</td>
                <td>{{ sitting.get_percent_correct }}</td>
                <td>
                    <a href="{% url 'quiz_marking_detail' pk=sitting.id %}">
				  {% trans "Үзэх" %}
				</a>
            </tr>

            {% endfor %}

        </tbody>

    </table>
    {% else %}
    <p>{% trans "Тохирсонгүй" %}.</p>
    {% endif %}
</section>{% endblock %}
