{% extends "base.html" %}{% load static %} {% block content %}
<section class="pt-page" data-id="">
    <div class="section-title-block">
        <h2 class="section-title">Онлайн шалгалтын систет</h2>
        <h5 class="section-description">Ногоон номны дагуу боловсруулсан тестийн сан</h5>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-8 subpage-block">
            Одоогоор манай цахим сайтад байгаа математикийн хичээлийн агуулга.
        </div>
        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
                <h3>Шалгалтын агуулга</h3>
            </div>

            <div class="skills-info">
                <h4>Тоо тоолол</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-4"></div>
                </div>

                <h4>Алгебр</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-5"></div>
                </div>

                <h4>Өгөгдөлтэй ажиллах</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-6"></div>
                </div>

                <h4>Геометр</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-7"></div>
                </div>

                <h4>Асуудал шийдвэрлэх</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                </div>
            </div>
        </div>
    </div>

</section>{% endblock content %}